body,
html {
	width: 100%
}

.z_center {
	width: 960px;
	margin: 0 auto
}

header .z_nav {
	background: #fff;
	border: 1px solid #f4f4f4;
	border-top: none
}

header .z_nav a {
	display: block;
	float: left;
	line-height: 71px;
	font-size: 20px;
	color: #008dd8;
	padding-left: 10px;
	padding-right: 10px
}

header .z_nav a:hover {
	background: #1E90FF;
	color: #fff
}

header .z_nav .z_skype:hover {
	background: #fff
}

header .z_nav .z_skype img {
	display: block;
	margin-top: 16px;
	padding-left: 8px
}

header .z_nav .small {
	font-size: 16px
}

header .z_nav .z_login {
	padding-left: 165px
}

header .z_nav .small:hover {
	background: #fff;
	text-decoration: underline;
	color: #008dd8
}



/* ------header结束------- */







/* --------内容开始-------- */
.z_mid .z_ds .z_more:hover,
.zimg .z_ban p i:hover,
header .z_logWeb a:hover {
	text-decoration: underline
}

body,
html {
	width: 100%
}

.z_center {
	width: 960px;
	margin: 0 auto
}

header {
	width: 100%;
	height: 438px;
	background: url(../images/z-skype/headerbg.jpg) no-repeat;
	background-size: 100% 100%
}

header h1 {
	width: 400px;
	line-height: 40px;
	margin: 30px 0 34px
}

header .z_andro {
	width: 180px;
	line-height: 45px;
	background: #7fba00;
	border-radius: 40px;
    padding: 0 28px;
    font-size: 18px;
}

header .z_andro a {
	color: #fff
}

header .z_andro:hover {
	box-shadow: rgba(116, 170, 0, 1) 0 0 2px;
	background: #74aa00
}

header .z_logWeb {
	line-height: 44px;
	font-size: 14px;
	padding: 0 38px
}

header .z_logWeb a {
	color: #000
}



.z_quick {
	width: 100%
}

.z_quick h2 {
	font-size: 30px;
	line-height: 92px
}

.z_quick .z_mid {
	display: flex;
	justify-content: space-between
}

.z_mid .z_ds {
	background: #e4eef2;
	width: 258px;
	padding: 30px
}

.z_mid .z_ds h3 {
	font-size: 24px;
	padding-bottom: 20px
}

.z_mid .z_ds img {
	display: block
}

.z_mid .z_ds .z_content {
	font-size: 15px;
	line-height: 20px;
	padding-bottom: 20px
}

.z_mid .z_ds .z_more {
	font-size: 15px;
	color: #0078ca;
	cursor: pointer
}

.z_quick .z_video {
	padding: 20px 0 43px
}

.z_tan1,
.z_tan2 {
	z-index: 100;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(226, 236, 238, .8);
	display: none;
}

.z_tan1 .z_inner1,
.z_tan2 .z_inner2 {
	width: 960px;
	height: 540px;
	background-color: #fff;
	background-repeat: no-repeat;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -270px;
	margin-left: -480px
}

.z_tan1 .z_inner1 {
	background-image: url(../images/z-skype/w1_03.jpg)
}

.z_tan2 .z_inner2 {
	background-image: url(../images/z-skype/w3_03.jpg)
}

.z_tan1 .z_inner1 .z_joinus {
	left: 570px;
	top: 230px
}

.z_tan2 .z_inner2 .z_joinus {
	width: 180px
}

.z_tan1 .z_inner1 .z_joinus,
.z_tan2 .z_inner2 .z_dial {
	display: block;
	padding: 0 27px;
	line-height: 45px;
	color: #fff;
	background: #7fba00;
	border-radius: 40px;
	position: absolute;
	cursor: pointer
}

.z_tan2 .z_inner2 .z_dial {
	left: 570px;
	top: 340px
}

.z_tan1 .z_inner1 .z_joinus:hover,
.z_tan2 .z_inner2 .z_dial:hover {
	box-shadow: rgba(116, 170, 0, 1) 0 0 2px;
	background: #74aa00
}

.z_tan1 .z_inner1 .z_close1,
.z_tan2 .z_inner2 .z_close2 {
	width: 42px;
	height: 42px;
	border-radius: 50%;
	background: #000;
	color: #FFF;
	line-height: 38px;
	text-align: center;
	font-size: 32px;
	font-weight: 700;
	position: absolute;
	right: -20px;
	top: -20px;
	cursor: pointer
}

.z_tan1 .z_inner1 .z_close1:hover,
.z_tan2 .z_inner2 .z_close2:hover {
	box-shadow: rgba(0, 0, 0, 1) 0 0 2px
}